/* CSS Document */
body{
	font:100% Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
h1,h2 {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-weight: normal;
}
h1 {
	font-size: 2.1875em;
}
h2 {
	font-size: 1.75em;
}
.intro .subhead {
	font-size: 1.125em
}
.intro p {
	font-size: 1.0625em;
	line-height: 1.65;
}
.project p {
	font-size: 0.97375em;
}
p {
	font-style: italic;
}
em,a:link,.intro .subhead {
	font-weight: bold;	
}

.intro {
	line-height: 1.45;
}